<a href="@Url.Action("GioHang", "Giohang")" style="color: white; font-weight: bold; text-decoration: none;">
    <img src="~/Content/images/giohang.gif" width="25" height="20" style="vertical-align: middle; margin-top: -3px;" />
    Giỏ hàng(@ViewBag.TongSL)
</a>